*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Playfair Display', serif;
}

header {
  width: 100%;
  height: 10vh;
}

.logo {
  padding-left: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu-bar-pc {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 11vh;
  width: 100%;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  z-index: 99;
  position: fixed;
  background-color: #fff;
}

.menu-principal a {
  margin-right: 20px;
  text-decoration: none;
  color: black;
  
  font-size: 20px;
}

.menu-principal a:hover {
  color: rgba(0, 0, 0, 0.5);
}

.social-media {
  padding-right: 80px;
  text-decoration: none;
}

.social-media a {
  width: 30px;
  color: #000;
  margin-right: 20px;
  font-size: 20px;
}

.social-media a:hover {
  color: rgba(0, 0, 0, 0.5);
}

main {
  margin-top: 15px;
}

.portada {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  height: 78vh;
}

.col {
  width: 50%;
  background-color: #141618;
  color: #fff;
  display: flex;
  flex-wrap: wrap;
  height: 70vh;
}

.foto {
  background-size: cover;
  background-position: center;
  width: 100%;
  background-repeat: no-repeat;

}

.left {
  display: flex;
  width: 100%;
  height: 30vh;
}

.right {
  display: flex;
  margin-bottom: 20%;
  height: 30vh;
}

.izq {
  background-image: url('./Images/portada-1.jpg');
  background-position-x: center;
  width: 50%;
  display: flex;
  align-items: center;
}

.der {
  background-image: url('./Images/portada-4.jpg');
  background-position-x: center;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.texto {
  color: #fff;
  width: 40%;
  padding-left: 5%;
  font-size: 13px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  line-height: 30px;
}

.titulo-portada {
  text-align: center;
  margin-bottom: 30px;
  font-size: 25px;
  color: rgba(255, 255, 255, 0.863);
}

.foto-full-izq {
  background-image: url('./Images/portada-2.jpg');
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 40%;
  width: 100%;
  height: 40vh;
  display: flex;
  justify-content: center;
}

.foto-full-der {
  background-image: url('./Images/portada-3.jpg');
  background-repeat: no-repeat;
  background-position-y: center;
  width: 100%;
  height: 40vh;
  display: flex;
  justify-content: center;
}

.overlay {
  opacity: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  cursor: pointer;
  font-size: 35px;
}

.overlay:hover {
  opacity: 1;
  background-color: rgba(0, 0, 0, 0.5);
}

.nosotros {
  padding: 5.625rem;
}

.container-us {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.col-izq {
  width: 30%;
  border-right: 1px solid #eaeaea;
  display: flex;
  align-items: center;
  padding-right: 5%;
}

.col-der {
  width: 70%;
  padding-left: 5%;
}

.text p {
  font-size: 1.125rem;
  line-height: 1.75;
  color: #777
}

.titulo-seccion h2 {
  font-size: 3.125rem;
  font-weight: 400;
  line-height: 3.6875rem;
  margin-bottom: 1.125rem;
  font-style: italic;
  letter-spacing: -0.02em;
}

.titulo-seccion p {
  font-size: 1.25rem;
  color: #777;
}


.chef {
  background-color: #303133;
  padding: 5.625rem;
}

.chef-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.column {
  width: 50%;
}

.izq-chef {
  box-shadow: 0px 9px 32px -1px rgba(0, 0, 0, 0.5);
  overflow: hidden;
}

.der-chef {
  padding: 3.125rem;
  padding-right: 0;
}

.der-chef h2 {
  color: #fff;
}

.der-chef p {
  color: rgba(255, 255, 255, 0.712);
  padding-bottom: 1.125rem;
  font-size: 1.125rem;
}

.last-par-chef {
  padding-bottom: 0;
}

.slider {
  width: 300%;
  display: flex;
}

.slide {
  width: 100%;
  min-height: 70vh;
  background-size: cover;
  background-position: center;
}

.foto1 {
  background-image: url('./Images/chef-1.jpg');
}

.foto2 {
  background-image: url('./Images/chef-2.jpg');
}

.foto3 {
  background-image: url('./Images/chef-3.jpg');
}

.menu-platillos {
  padding: 5.625rem; 
}

.menu-platillos h2 {
  text-align: center
}

.contenedor-menu {
  margin-top: 2.5rem;
}

.encabezado {
  font-weight: 600;
  font-family: 'Poppins', sans-serif;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  list-style: none;
  display: flex;
  justify-content: center;
}

.encabezado a {
  text-decoration: none;
  color: #141618;
  font-size: 1.32rem;
  padding: 0 1.4375rem 1.125rem 1.4375rem;
  display: block;
  cursor: pointer;
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
}

.encabezado a:hover {
  color: #b4975a;
}

.contenido {
  max-width: 50rem;
  margin: 0 auto;
  margin-top: 2.5rem;
  border: 6px double #eaeaea;
  padding: 0 2.25rem;
}

.item {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  padding: 2.25rem 0;
  border-bottom: 1px solid #eaeaea;
}

.col-izq-menu {
  width: 70%;
}

.col-izq-menu h3 {
  font-size: 1.5rem;
  font-weight: 500;
  margin-bottom: 0.625rem;

}

.col-izq-menu p {
  font-size: 1rem;
  color: #777;
}

.col-der-menu {
  width: 30%;
  text-align: center;
  font-size: 2.20rem;
}

.postres, .cafes {
  display: none;
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
}

.active {
  display: block;
}

.datos {
  width: 100%;
  padding: 5.625rem  11.875rem ;
  position: relative;
  background-image: url('./Images/contacto-bg.jpg');
  background-size: cover;
  background-position: center;
}

.overlay-datos {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #14161842;
  top: 0;
  z-index: 1;
}

.datos-container {
  position: relative;
  z-index: 2;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.blurb {
  background: #fff;
  border: 6px double #eaeaea;
  padding: 2.25rem;
  text-align: center;
  width: 25%;
}

.blurb h3 {
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 2.6875rem;
  margin-bottom: 1.125rem;
  border-bottom: 1px solid #eaeaea;
}

.blurb p {
  font-size: 1rem;
  color: #777; 
}

.formulario {
  position: relative;
  z-index: 3;
  background: #fff;
  max-width: 40.625rem;
  margin: 0 auto;
  padding: 2.25rem;
  margin-top: -3.250rem;
  width: 90%;
}

.input-group {
  position: relative;
  margin-bottom: 2rem;
}

input[type="text"],[type="email"], 
textarea {
  font-family: 'Poppins', sans-serif;
  font-size: 1rem;
  color: #303133;
  width: 100%;
  outline: none;
  padding: 0.9375rem 0;
  background: none;
  border: none;
  border-bottom: 2px solid #b4975a;
  vertical-align: top; 
}

textarea {
  max-width: 100%;
  max-height: 10.25rem;
  min-height: 5.125rem;
  min-width: 100%;
}

label {
  color: #777;
  font-family: 'Poppins', sans-serif;
}

.label {
  position: absolute;
  top: 1rem;
  left: 0;
  font-size: 1rem;
  line-height: 1rem;
  margin-left: 1rem;
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
}

.label-active {
  top: -0.75rem;
  margin-left: 0;
  font-size: 0.75rem;
  line-height: 0.75rem;
  color: #777;
}

.error {
  position: absolute;
  color:rgb(255, 59, 59);
  font-family: 'Poppins', sans-serif;
  font-size: 0.875rem;
}

input[type="submit"] {
  font-family: 'Poppins', sans-serif;
  background: #b4975a;
  color: #fff;
  border-radius: 1px;
  border: 2px solid #fff;
  cursor: pointer;
  display: block;
  margin: 0 auto;
  margin-top: 3.125rem;
  padding: 0.9375rem;
  width: 20%;
  outline: none;
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
}

input[type="submit"]:hover {
  background: #8b7545;
}

footer {
  margin-top: 2.25rem;
  background: #141618;
  padding: 5.625rem 0;
  text-align: center;
  color: #fff;
  font-weight: 700;
  font-size: 15px;
}

.social-media-footer {
  margin-top: 2.25rem;
}

.social-media-footer a {
  padding: 0 0.5625rem;
  color: #fff;
  font-size: 1.250rem;
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
}

.social-media-footer a:hover {
  color: #b4975a;
}